body{
   margin: 0;
   background-color: snow;
   margin-bottom: 15px;
}

.top-img {
    background: url("https://cutewallpaper.org/21/car-wallpaper-hd-1080p/4K-Laptop-Car-Wallpapers-Top-Free-4K-Laptop-Car-.jpg"),#90ee9069;;
    height: 500px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    max-height: 500px;
    min-height: 500px;
    background-blend-mode: luminosity;

    }

.title-text {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #abe920;
    position: absolute;
    text-align: center;
    top: 100px;
    right: 5%;
}

.icon-pane {
    display: flex;
    background-color: #767575;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    font-size: 20px;
    gap : 20px;
    position:sticky;
    top: 0px;
    width: 100%;
}

.icon-color-change:hover {
    color: rgb(17, 209, 100);
    transform: scale(1.3);
}

.title-2{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 30px ;
    color: steelblue;
}

span{
    color: tomato;
}
.car-pallet{
    display: flex;
    justify-content: center;
}
.car-type1{
    background-color:#e89d40d9;
    width: 200px;
    height: 260px;
    text-align: left;
    padding: 40px;
    color: seashell;
    font-family: 'Playfair Display', serif;
    
}
.car-type2{
    background-color: #016972;
}

.car-type3{
    background-color: #00403f;
}

.button-changes{
    border-radius: 30%;
    height: 40px;
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
    color: #e89d40d9;
    margin-top: 45px;
}

.b-color-1{
    color: #016972;
}
.b-color-2{
    color: #00403f;
}
.icon-align{
    font-size: 30px;
}

.heading-aling{
    font-size: 20px;
}

.para-align{
    font-size: 12px;
}

.Survey-details{
    width: 300px;

}

.form1{
    display: flex;
    justify-content: center;
}

.required::after{
    content: ' *';
    color: red;
}

.spacing{
    margin: 10px;
}

legend{
    color:orangered;
}